@font-face {
	font-family: Monserrat;
	src: url(/fonts/monserrat.ttf);
}
@font-face {
	font-family: PlayFairDisplayBold;
	src: url(/fonts/playfair\ display.ttf);
}
@font-face {
	font-family: Alternates;
	src: url(/fonts/Montserrat\ Alternates.ttf);
}
@font-face {
	font-family: JosefinSlab;
	src: url(/fonts/josefin-slab-regular.ttf);
}
@font-face {
	font-family: MontserratAlternates-Black;
	src: url(/fonts/montserrat-alternates-black.ttf);
}

@font-face {
	font-family: Montserrat Alternates SemiBold;
	src: url(/fonts/Montserrat\ Alternates\ SemiBold.ttf);
}
* {
	margin: 0;
	padding: 0;
	list-style-type: none;
}
*,
*::before,
*::after {
	box-sizing: border-box;
}
header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	height: 100%;
	background-color: #df7f6a;
}
header img {
	height: 45px;
}
header #Home,
header #Home:visited,
header #Home:active {
	font-size: 17px;
	color: white;
	text-decoration: none;
}
header #Home:hover {
	text-decoration: underline;
}
header span {
	height: 45;
}
header span input,
header span a {
	height: 30px;
}

.input-search {
	width: 300px;
	vertical-align: middle;
	white-space: nowrap;
	position: relative;
}
.input-search input#search {
	outline: none;
	border: none;
	width: 300px;
	height: 35px;
	background: #e9e5de;
	border: none;
	font-size: 13pt;
	float: left;
	color: #63717f;
	padding-left: 45px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}
.input-search .icon-search {
	position: absolute;
	top: 50%;
	margin-left: 2px;
	margin-top: 2px;
	z-index: 1;
	color: #4f5b66;
}
.icon-search img {
	height: 30px;
}
header #Account img {
	background: #e9e5de;
	border-radius: 5px;
	height: 35px;
	margin-left: 10px;
	margin-right: 10px;
}

body {
	background-color: #fbfbfe;
}
/*--------------------------------MAIN*/
main {
	display: flex;
	flex-wrap: wrap;
}
.filter-cards {
	display: none;
}
aside {
	padding: 5px;
	box-shadow: 5px 0 5px rgba(0, 0, 0, 0.2);
	flex: 1 1 200px;
}

section {
	flex: 4 1 825px;
}
@media (max-width: 550px) {
	header {
		position: relative;
		flex-wrap: wrap;
		height: 100%;
		justify-content: center;
	}
	header a:nth-child(1) {
		display: flex;
		justify-content: center;
		padding: 4px;
	}
	.middle-header {
		display: flex;
		padding: 4px;
		display: block;
		width: 100%;
	}
	.input-search {
		margin: 0 auto;
	}

	#Account {
		position: absolute;
		right: 0%;
		top: 7%;
	}
}
/*---------------------------ASIDE*/
aside h2 {
	font-size: 20px;
	text-align: center;
	font-family: Montserrat Alternates SemiBold;
}
.rule-product {
	padding: 10px;
	margin: 5px;
	background-color: #eeeef2;
}
.range-input{
	height: 50px;
}
.range-input a{
	width: 100%;
	text-align: center;
}
.rule-product a {
	font-family: JosefinSlab;
	font-weight: 100;
}
.rule-product input {
	float: right;
}
.rule-product input[type='range'] {
	height: 20px;
	width: 100%;
}
input[type='checkbox'] {
	width: 20px;
	height: 20px;
}
input[type='checkbox']:hover,
input[type='checkbox']:checked {
	background-color: #df7f6a;
}

.aside-btn {
	margin-top: 4px;
}

@media(max-width: 1024px){
	main aside span{
		display: grid;
		grid-template-columns: repeat(2, 50%);
		grid-template-rows: auto;
	}
.rule-product {
	padding: 5px;
	margin: 5px;
	background-color: #eeeef2;
}
	h2{
		width: 100%;
	}
}
@media(max-width: 425px){
	main aside span{
		display: block;
	}
}
/*---------------------------MAIN-CONTENT*/
img {
	height: auto;
	max-width: 100%;
}

.card-btn {
	background-color: white;
	border: 1px solid #cccccc;
	border-radius: 0.5rem;
	color: #696969;
	padding: 0.5rem;
	text-transform: lowercase;
	display: block;
	width: 100%;
	font-size: 15px;
	letter-spacing: 1px;
}
.card-btn:hover {
	border: 1px solid #df7f6a;
	background: #df7f6a;
	color: white;
}

.cards {
	display: flex;
	flex-wrap: wrap;
	list-style: none;
	margin: 10px;
}

.item {
	padding: 1rem;
	@media (min-width: 40rem) {
		width: 50%;
	}
	@media (min-width: 56rem) {
		width: 33.3%;
	}
}

.card {
	box-shadow: 0px 0px 10px grey;
	background-color: white;
	border-radius: 0.25rem;
	display: flex;
	flex-direction: column;
	overflow: hidden;
}
.сard img:hover {
	filter: brightness(80%);
}
.card__content {
	box-shadow: 0px 0px 10px grey;
	display: flex;
	flex: 1 1 auto;
	flex-direction: column;
	padding: 1rem;
}

.title-content {
	color: #df7f6a;
	border-bottom: 1px solid;
}
.title-content a:nth-child(1) {
	/* text-transform: uppercase; */
	float: left;
	font-size: 1.25rem;
	font-weight: 900;
	font-family: JosefinSlab;
}
.title-content a:nth-child(2) {
	float: right;
	font-family: Montserrat Alternates SemiBold;
	font-size: 1rem;
}
.title-content a:nth-child(2)::after {
	content: ' ₽';
}

.description-content {
	text-align: justify;
	margin-top: 10px;
	color: gray;
	flex: 1 1 auto;
	font-size: 0.875rem;
	line-height: 1.5;
	margin-bottom: 1.25rem;
}

/*---------------------------FOOTER*/
